@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #07383e;
  --secondary-color: #fdfdfd;
  --secondary-dark-color: #222222;

  --white-color: #ffffff;
  --light-bg-color: #f7f7f7;
  --light-text-color: #7c899a;
  --border-color: #e5e8ec;
  --dark-color: #3f3f3f;
  --icon-color: #00c281;
  --font-small: 15px;
  --font-smaller: 13px;

  --percent100: 100%;
  --percent50: 50%;

  --fw3: 300;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--secondary-dark-color);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}
img {
  max-width: var(--percent100);
  vertical-align: middle;
  object-fit: cover;
}

strong {
  font-weight: var(--fw8);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}

h1 {
  font-size: calc(1.2em+1vw);
  font-weight: var(--fw8);
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw7);
}

h4 {
  font-size: 1em;
  font-weight: var(--fw6);
}

svg {
  width: 25px;
  cursor: pointer;
  color: var(--dark-color);
}

.container {
  max-width: 1262px;
  min-width: 290px;
  margin: 0 auto;
}

/* <!--  ============ navbar section  =============== --> */

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.navbar .wrapper .left .logo {
  display: flex;
  align-items: center;
  font-weight: var(--fw6);
  text-transform: uppercase;
}

.navbar .wrapper .left .logo .title {
  font-size: 1em;
  padding-left: 1em;
}

.navbar .wrapper .left img {
  height: 6dvh;
}

.navbar .wrapper .center .nav_list {
  display: flex;
  justify-content: space-around;
  column-gap: 1.1em;
  font-size: var(--font-small);
  align-items: center;
  line-height: 1.2;
  width: max-content;
}

.navbar .wrapper .center .nav_list .list_item .icon {
  display: flex;
  align-items: center;
}

.navbar .center .nav_list .list_item {
  line-height: inherit;
  position: relative;
}

.navbar .center .nav_list .list_item .icon svg {
  transition: transform 0.5s ease;
}

.navbar .center .nav_list .list_item a:hover {
  opacity: 0.6;
}

.navbar .wrapper .center .nav_list .list_item a {
  display: flex;
  column-gap: 0.3em;
  align-items: center;
  line-height: inherit;
  transition: all 0.3s;
  top: 2em;
}

.navbar .wrapper .center .nav_list .list_item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .wrapper .center .nav_list .list_item .options {
  position: absolute;
  top: 4em;
  left: -1em;
  line-height: 1.5;
  padding: 1em;
  box-shadow: 1px -1px 10px var(--white-color);
  width: max-content;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  display: none;
  color: var(--white-color);
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1000;
}

.navbar .wrapper .center .nav_list .list_item .options .option {
  padding: 0.4em 1em;
  position: relative;
  transition: transform 0.5s ease;
}

.navbar .wrapper .center .nav_list .list_item .options .option:hover {
  transform: translateX(7px);
}

.navbar
  .wrapper
  .center
  .nav_list
  .list_item
  .options
  .option:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.navbar .wrapper .center .nav_list .list_item .options .option a::before {
  content: "";
  position: absolute;
  left: 0.1em;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.navbar .wrapper .center .nav_list .list_item .option a:hover::before {
  width: 100%;
}

.navbar .wrapper .right .btn input {
  border: 1px solid;
  padding: 1em 2em;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: all 0.3s;
  border-radius: 5px;
}

.navbar .wrapper .right .btn input:hover {
  background-color: var(--white-color);
  color: var(--secondary-dark-color);
  border: 1px solid var(--white-color);
}

.navbar .wrapper .right .mbl .icon svg {
  color: var(--icon-color);
  background: transparent;
  transition: 0.3s;
}

.navbar .wrapper .right .mbl .icon svg:hover {
  color: var(--primary-color);
}

.navbar .wrapper .right .mbl {
  display: flex;
  column-gap: 2em;
  padding: 0.7em;
}
section.navbar {
  box-shadow: -5px -5px 20px var(--primary-color);
}

/* <!--  ============ content section  =============== --> */
.content {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.content .wrapper .context {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 500px;
  justify-content: center;
  padding: 1em;
}

.content .wrapper {
  position: relative;
}

.content .wrapper .context .text .title {
  font-size: 64px;
  line-height: 1.3;
}

.content .wrapper .context .text .para {
  padding: 1em 0;
  width: 90%;
}

.content .wrapper .context .text .title span {
  color: #ffd700;
}

.content .wrapper .brand {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
  width: 50%;
  color: var(--white-color);
  font-size: var(--font-small);
  width: 100%;
  font-weight: var(--fw5);
}

.content .wrapper .brand ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1em;
}

.content .wrapper .brand ul li {
  opacity: 0.7;
}

.content .wrapper .brand ul li:hover {
  opacity: 1;
}

.content .wrapper .brand .icon svg {
  width: 150px;
  color: var(--white-color);
}

.content .wrapper .form_box {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 40%;
  height: 600px;
  color: black;
  background-color: var(--white-color);
  box-shadow: -2px -2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 1em;
  z-index: 100;
}

.content .wrapper .form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1em;
}

.content .wrapper .form_box .title {
  font-weight: var(--fw7);
  text-transform: capitalize;
}

.content .wrapper .form_box .para {
  padding: 0.5em;
  font-size: var(--font-small);
}

.content .wrapper .form_box .form-container {
  width: 100%;
  height: 100%;
}

.content .wrapper .form_box form .form-group {
  padding: 0.8em 0.3em;
}

.content .wrapper .form_box form .form-group :where(input, textarea, button) {
  width: 100%;
  padding: 1em 2em;
  font-family: inherit;
}

.content .wrapper .form_box input,
textarea,
.select-menu,
button {
  border: none;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.content .wrapper .form_box .form-group input:focus,
.content .wrapper .form_box .form-group textarea:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

.first_name,
.last_name {
  width: 50%;
}

.content .wrapper .form_box form .name {
  display: flex;
}

.content .wrapper .form_box .form-group button {
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: 0.5s;
  font-weight: var(--fw5);
}
.content .wrapper .form_box .form-group button:hover {
  background-color: var(--light-text-color);
  color: var(--dark-color);
  font-weight: var(--fw5);
  opacity: 1;
}
.content .wrapper .form_box .form-group .msg {
  padding: 0 1em;
}

.content .wrapper .form_box .form-group {
  position: relative;
}

.content
  .wrapper
  .form_box
  .form-group:not(:nth-child(6), :nth-child(5)):after {
  content: "*";
  position: absolute;
  top: 0;
  left: 2em;
  color: var(--primary-color);
}

/* resuable select */

.select-menu {
  position: relative;
  padding: 0.3em 2em;
  font-size: var(--font-small);
}

.select-menu .select-btn {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.select-menu .select-btn .options .option {
  width: 100%;
}

.select-menu .select-btn .icon {
  font-size: 20px;
  transition: 0.3s;
  rotate: 90deg;
}

.select-menu.active .select-btn .icon {
  transform: rotate(90deg);
}

.select-menu .options {
  display: none;
  position: absolute;
  top: 3.5em;
  left: 0;
  backdrop-filter: blur(2px);
  z-index: 10;
  width: 100%;
  padding: 1em;
  border-radius: 0.6em;
  background-color: rgb(225, 225, 225, 0.4);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.select-menu .options .option {
  padding: 0.2em 0.5em;
  font-weight: var(--fw5);
}

.select-menu .options .option:not(:last-child) {
  border-bottom: 0.5px solid var(--border-color);
}

.select-menu .options .option a {
  line-height: 2;
  position: relative;
  padding: 0.5em;
}

.select-menu.active .options {
  display: block;
}

.select-menu .options .option a::before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--dark-color);
  transition: all 0.5s;
}

.select-menu .options .option:hover a::before {
  width: 100%;
}

.select-menu .options .option:hover a {
  opacity: 0.7;
}

/* <!--  ============ trustpilot section  =============== --> */
/* <!--  ============ brand section  =============== --> */
/* <!--  ============ work section  =============== --> */

.work {
  background: rgb(233, 252, 234);
  background: -moz-linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9fcea",endColorstr="#f1f7f2",GradientType=1);

  position: relative;
  overflow: hidden;
}

.work::before {
  content: "";
  position: absolute;
  left: -15em;
  top: -10em;
  width: 600px;
  height: 600px;
  border: 3em solid #b8f8e3;
  border-radius: 50%;
  z-index: -1;
  background-color: #00c281;
}

.work::after {
  content: "";
  position: absolute;
  right: -15em;
  bottom: -10em;
  width: 600px;
  height: 600px;
  border: 3em solid #b8f8e3;
  border-radius: 50%;
  z-index: -1;
  background-color: #00c281;
}

.work .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 10%;
}

.work .wrapper .wrap_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3em;
  cursor: pointer;
  margin: 0 2em;
}

.work .wrapper .title h1 {
  margin: 2em;
  text-align: center;
  font-size: 30px;
  font-weight: var(--fw7);
  text-transform: capitalize;
}

.work .wrapper .wrap_box .box {
  width: 47%;
  padding: 2em 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--secondary-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.work .wrapper .wrap_box .box:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.work .wrapper .wrap_box .box .title {
  display: flex;
  padding: 0.5em 1em;
  column-gap: 1em;
}

.work .wrapper .wrap_box .box .title .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work .wrapper .wrap_box .box .title .icon svg {
  width: 25px;
  color: var(--dark-color);
  transition: 0.5s;
}

.work .wrapper .wrap_box .box:hover .title .icon svg {
  color: rgb(53, 196, 5);
}

.work .wrapper .wrap_box .box .title h2 {
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: var(--fw7);
}

.work .wrapper .wrap_box .box .discription {
  padding: 0.2em 1em;
  font-size: var(--font-small);
}

/* <!--  ============ retrieved section  =============== --> */

.success_calculation {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.success_calculation .success_one {
  display: flex;
  justify-content: center;
  column-gap: 2em;
  align-items: center;
  padding: 6em 1em;
  padding: 5em 10%;
}

.success_calculation .success_one .content {
  width: 50%;
}

.success_calculation .success_one .content .title {
  font-size: 2.1em;
  font-weight: var(--fw6);
  padding: 1em;
  line-height: 1.2;
}

.success_calculation .success_one .content .title sub {
  font-size: 0.6em;
}

.success_calculation .success_one .discription {
  padding: 0em 2.5em;
  font-size: var(--font-small);
}

.success_calculation .success_one .reference {
  width: 50%;
  font-weight: var(--fw7);
  color: #ffd700;
  padding: 1em 0;
  text-align: center;
  font-size: 64px;
}

/* <!--  ============ hero section  =============== --> */

.hero_section {
  padding: 2em 0.5em;
  background-color: var(--secondary-color);
}

.hs_2 {
  padding: 2em 0.5em;
}

.hero_one {
  display: flex;
  align-items: center;
  margin: 0 10%;
}

.hero_two {
  flex-direction: row-reverse;
  column-gap: 3em;
}

.hero_two .contacts {
  display: flex;
  float: right;
  justify-content: right;
  text-align: right;
}

.hero_one .reference {
  width: 50%;
}

.hero_one .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.hero_one .content .title {
  font-size: 1.6em;
  font-weight: var(--fw6);
  text-transform: uppercase;
  padding: 0.8em 0.2em;
}
.hero_one .content .para {
  width: 80%;
  padding: 1.5em 1em;
}

.hero_one .content .txt {
  margin: 0.5em;
  margin-left: 3em;
}

.hero_one .content :where(.para, .btn, .txt) {
  font-size: var(--font-small);
}

.hero_one .content .btn {
  width: fit-content;
  padding: 0.7em 2em;
  border: 0;
  border-radius: 20px;
  font-family: inherit;
  font-weight: var(--fw5);
  cursor: pointer;
  margin: 0.2em 1em;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

.hero_one .content .btn:hover {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

/* <!--  ============ choose back section  =============== --> */
.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.choose .wrapper {
  padding: 6em 1em;
  border-top: solid var(--border-color);
}

.choose .title {
  padding: 1em 0;
  font-size: 2em;
}

.choose .para {
  padding: 1em;
  font-size: var(--font-small);
}

.choose .choice {
  margin: 0 20%;
  padding: 1em;
}

.choose .choice .select-menu {
  border: 1px solid #ffd700;
  text-align: left;
}

.choose .btn button {
  padding: 1em 3em;
  margin: 1.5em 0;
  width: 100%;
  font: inherit;
  font-size: var(--font-small);
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}

.choose .btn button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* <!--  ============ testimonials section  =============== --> */
/* <!--  ============ get client section  =============== --> */
/* <!--  ============ videos review section  =============== --> */
/* <!--  ============ types section  =============== --> */

.type {
  background: rgb(233, 252, 234);
  background: -moz-linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(233, 252, 234, 0.9544159544159544) 14%,
    rgba(241, 247, 242, 0.8518518518518519) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9fcea",endColorstr="#f1f7f2",GradientType=1);

  position: relative;
  overflow: hidden;
  color: var(--primary-color);
  z-index: 2;
}

.type::before {
  content: "";
  position: absolute;
  left: -15em;
  top: -10em;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -1;
  background: #75fb7e48;
  box-shadow: 0 0 200px -15px rgba(157, 238, 161, 0.854);
}

.type::after {
  content: "";
  position: absolute;
  right: -15em;
  bottom: -10em;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  z-index: -1;

  background: #75fb7e48;
  box-shadow: 0 0 200px -15px rgba(157, 238, 161, 0.854);
}

.type .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 10%;
}

.type .wrapper .wrap_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3em;
  cursor: pointer;
  margin: 2em;
}

.type .wrapper .title h1 {
  margin: 1em;
  text-align: center;
  font-size: 30px;
  font-weight: var(--fw7);
  text-transform: capitalize;
  line-height: 1.3;
}

.type .wrapper .wrap_box .box {
  width: 23%;
  padding: 2em 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--secondary-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.type .wrapper .wrap_box .box:hover {
  transform: scale(1.05);
}

.type .wrapper .wrap_box .box .title {
  display: flex;
  padding: 0.5em 1em;
  column-gap: 0.2em;
}

.type .wrapper .wrap_box .box .name {
  text-align: center;
}

.type .wrapper .wrap_box .box .title .icon svg {
  width: 30px;
  color: var(--dark-color);
  transition: 0.3s;
}

.type .wrapper .wrap_box .box {
  transition: all 0.3s;
}

.type .wrapper .wrap_box .box:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.type .wrapper .wrap_box .box:hover .title .icon svg {
  color: var(--white-color);
}

/* <!--  ============ more about section  =============== --> */

.more_about {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 6em 20%;
  display: flex;
  justify-content: center;
}

.more_about .title {
  font-size: 2em;
  text-align: center;
  font-weight: var(--fw5);
  padding: 1em 0.2em;
  line-height: 1.2;
}
.more_about .icon-small {
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  padding: 0.5em 0;
  line-height: 1.2;
  font-weight: var(--fw5);
  text-transform: capitalize;
  align-items: center;
}

.more_about .icon-small {
  border-bottom: 1px solid var(--border-color);
}

.more_about .content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  font-size: var(--font-smaller);
  margin: 0.5em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.more_about .content.visible {
  max-height: 200vh;
}

.more_about .content li {
  padding-left: 1.5em;
  line-height: 1.5;
  margin: 0.5em;
}

.more_about .content li a {
  text-decoration: underline;
}

.more_about .content li a:hover {
  opacity: 0.7;
}

.more_about .icon-small .icon svg {
  transition: transform 0.3s ease-in-out;
}

.more_about .icon-small .icon svg.rotated {
  transform: rotate(180deg);
}

/* <!--  ============ choosing section  =============== --> */
/* <!--  ============ latest articles section  =============== --> */
/* <!--  ============ footer section  =============== --> */
/* ========= footer section ============== */
.footer_section {
  background-color: var(--dark-color);
  font-size: var(--font-small);
  padding: 2em 1em;
}
.footer_section .wrapper {
  display: flex;
  flex-wrap: wrap;
  color: var(--white-color);
  padding: 2em 0;
  column-gap: 0.5em;
  justify-content: space-around;
}

.footer_section .wrapper:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.footer_section
  .wrapper
  :where(.help, .blog, .social_media, .advancing, .companies, li) {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.footer_section .wrapper .col {
  width: min-content;
}

.footer_section .wrapper li a {
  position: relative;
}

.footer_section .wrapper.policy li a::before {
  content: "";
  position: absolute;
  bottom: 0.1em;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--white-color);
  transition: all 0.5s;
}

.footer_section .wrapper.policy li a:hover::before {
  width: 100%;
}

.footer_section .wrapper li a:hover {
  opacity: 0.6;
}

.footer_section .wrapper .text {
  margin-bottom: 1.2em;
  font-size: 16px;
  font-weight: var(--fw5);
}

.footer_section .wrapper .txt {
  padding: 0.3em 3em;
  text-align: center;
  cursor: pointer;
}

.footer_section .wrapper .txt:hover {
  opacity: 0.8;
}

.footer_section .wrapper .col {
  max-width: 15%;
  width: fit-content;
}

.footer_section .wrapper.policy ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5em;
  justify-content: space-around;
}

.footer_section .wrapper.policy ul li {
  line-height: 2;
}

.footer_section .wrapper.disclaimer ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* <!--  ============ footer end section =========== --> */

/* ###################################*/
/* #        About Us page            #*/
/* ###################################*/

.path {
  padding: 2em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.path .dir {
  display: flex;
}

.path .dir li:not(:last-child) {
  opacity: 0.7;
}

.path .dir li:not(:last-child)::after {
  content: "/";
  padding: 0 0.3em;
  opacity: 0.7;
}

.path .dir li:last-child {
  opacity: 1;
}

.justice {
  padding: 8em 2em;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.justice .wrapper .title {
  margin: 0 20%;
}

.justice .wrapper .title h1 {
  font-size: 30px;
  font-weight: var(--fw6);
  line-height: 1.2;
}

.justice .wrapper .para {
  text-align: left;
  margin: 1em 20%;
  font-size: var(--font-small);
}

/* ###################################*/
/* #        FAQ page                 #*/
/* ###################################*/

.more_about.faq {
  padding: 0 23% !important;
  margin-bottom: 5em;
}

.more_about.faq .para {
  padding: 1em;
  text-align: center;
  font-size: var(--font-smaller);
}
.more_about.faq .has-child:first-child {
  margin-top: 1.5em;
}

/* ###################################*/
/* #        Blog page                #*/
/* ###################################*/

.featured {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2em 0;
}

.featured .wrapper .title h1 {
  font-size: 32px;
  font-weight: var(--fw6);
  text-align: center;
  padding: 1em;
}

.featured .wrapper .context {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.featured .wrapper .packet .image {
  height: 300px;
}

.featured .wrapper .packet {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.featured .wrapper .packet .image {
  overflow: hidden;
}

.featured .wrapper .packet .image img {
  transition: transform 0.3s ease-in-out;
}

.featured .wrapper .packet:hover .image img {
  transform: scale(1.1);
  border-radius: 10px;
}
.featured .wrapper .left .packet .image img {
  border-radius: 10px 10px 0 0;
}

.featured .wrapper .right .packet .image img {
  border-radius: 10px 0 0 10px;
}

.featured .wrapper .right .packet .image {
  height: 180px;
  width: 40%;
}

.featured .wrapper .right .packet .text {
  width: 60%;
}

.featured .wrapper .right {
  display: flex;
  align-items: center;
}

.featured .wrapper .right .pack {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  flex: 1;
}

.featured .wrapper .right .packet {
  display: flex;
  align-items: center;
}

.featured .wrapper .packet .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured .wrapper .packet .text {
  padding: 1em;
}

.featured .wrapper .packet .text .title {
  font-size: 16px;
  font-weight: var(--fw5);
}

.featured .wrapper .packet .text .date {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.featured .wrapper .packet .text .date .icon {
  display: flex;
  align-items: center;
}

.featured .wrapper .context .left {
  width: 58%;
}

.featured .wrapper .context .right {
  width: 38%;
}

.choose .wrapper .choice {
  padding: 2em 10%;
}

.choose .wrapper .choice .gmail input {
  width: 100%;
  padding: 0.7em 1.5em;
  font: inherit;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
}

.wrapper .choice .gmail input:focus {
  outline: 1px solid var(--primary-color);
  box-shadow: none;
}

.topic .context .categories {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
}

.topic .context .categories li:first-child {
  border-radius: 10px 0 0 0;
}

.topic .context .categories li:last-child {
  border-radius: 0 0 10px 0;
}

.topic .wrapper .context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic .context .categories li {
  border: 1px solid;
  min-width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1em;
  transition: all 0.3s ease-in-out;
  font-weight: var(--fw5);
}

.topic .context .categories li:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.topic .context .blog_box .packet {
  margin: 1em 0;
  cursor: pointer;
}

.topic .context .blog_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  column-gap: 1em;
}

.topic .wrapper {
  display: flex;
  flex-direction: column;
}

.topic .context .blog_box .packets {
  width: 30%;
}

/* ###################################*/
/* #        single blog page               #*/
/* ###################################*/
.single_blog .context .left .title h1 {
  text-align: left;
  line-height: 1.2;
  padding: 0.5em;
}

.single_blog .context .left .para {
  padding: 1em;
  font-weight: var(--fw8);
}

.single_blog .context .left .image {
  padding: 0.5em 1em;
}

.single_blog .context .left .personal {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.single_blog .context .left .personal .lft {
  display: flex;
  flex-wrap: wrap;
}

.single_blog .context .left .personal .lft .date::after {
  content: "|";
  padding: 0 0.5em;
}

.single_blog .context .left .personal .rght {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
}

.single_blog .context .left .personal .rght .icon {
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.single_blog .context .left .personal .rght .icon.fb svg:hover {
  color: #1877f2;
}

.single_blog .context .left .personal .rght .icon.x svg:hover {
  color: black;
}

.single_blog .context .left .personal .rght .icon.ln svg:hover {
  color: #0a66c2;
}

.single_blog .context .left .discription {
  padding: 1em;
}

.single_blog .context .left .discription ul {
  padding: 0.5em 0;
}

.single_blog .context .left .discription ul li {
  padding-left: 1.3em;
  position: relative;
}

.single_blog .context .left .discription ul li::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 8px;
  height: 8px;
  rotate: 45deg;
  background: yellowgreen;
}

.single_blog .context .right {
  display: block;
  position: sticky;
  top: 6em;
  align-self: flex-start;
}

.single_blog .context .right .box {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2em;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-top: 2em;
}

.single_blog .context .right .box .title {
  line-height: 1.2;
  padding: 0.5em;
}

.single_blog .context .right .box .para {
  padding: 1em;
}

.single_blog .context .right .box .btn {
  padding: 1em;
}

.single_blog .context .right .box .btn button {
  padding: 0.8em 2em;
  font: inherit;
  border-radius: 25px;
  font-size: var(--font-small);
  font-weight: var(--fw6);
  text-transform: capitalize;
  transition: all 0.3s;
}

.single_blog .context .right .box .btn button:hover {
  background-color: #ffd700;
}

.single_blog .context .right .attach {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  background-color: var(--border-color);
  border-radius: 0 0 10px 10px;
}

.single_blog .context .right .attach .icon svg {
  width: 80px;
  fill: var(--primary-color);
}

.single_blog .context .right .attach .txt {
  font-size: 22px;
  font-weight: var(--fw6);
  padding: 1em;
  text-align: right;
}

/* ###################################*/
/* #        testimonials page        #*/
/* ###################################*/

.testimonial {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-bottom: 6em;
}

.testimonial .wrapper {
  padding: 1em;
}

.testimonial .title {
  text-align: center;
  padding: 1em;
}
.testimonial .title h1 {
  font-size: 30px;
  font-weight: var(--fw7);
  text-transform: capitalize;
}

.testimonial .context .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 1em;
}

.testimonial .context .categories li:first-child {
  border-radius: 10px 0 0 0;
}

.testimonial .context .categories li:last-child {
  border-radius: 0 0 10px 0;
}

.testimonial .wrapper .context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial .context .categories li {
  border: 1px solid;
  min-width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1em;
  transition: all 0.3s ease-in-out;
  font-weight: var(--fw5);
}

.testimonial .context .categories li:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.testimonial .blog_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.testimonial .blog_box .packets {
  width: 32%;
  min-width: 370px;
  padding: 1em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
}

.testimonial .blog_box .packets .profile {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.testimonial .blog_box .packets .profile .image {
  height: 100px;
  width: 100px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

.testimonial .blog_box .packets .profile .image img {
  height: var(--percent100);
  width: var(--percent100);
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.testimonial .blog_box .packets .profile .image img:hover {
  transform: scale(1.1);
}

.testimonial .blog_box .packets .profile .name {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em;
}

.testimonial .blog_box .packets .profile .name h2 {
  font-size: 20px;
  font-weight: var(--fw6);
}

.testimonial .blog_box .packets .profile .name .rate {
  display: flex;
}

.testimonial .blog_box .packets .profile .name .rate .icon svg {
  width: 15px;
}

.testimonial .blog_box .packets .date {
  display: flex;
  align-items: center;
  padding: 0.5em;
  column-gap: 0.5em;
}

.testimonial .blog_box .packets .date .icon {
  display: flex;
  align-items: center;
}

.testimonial .blog_box .packets .discription .title {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: var(--fw5);
  padding: 0.5em;
}

.testimonial .blog_box .packets .discription .para {
  font-size: var(--font-smaller);
  padding: 0.5em;
}

.testimonial .blog_box .packets .discription .btn {
  padding: 0.5em 1em;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

.testimonial .blog_box .packets .discription .btn:hover {
  opacity: 0.6;
  color: green;
}

@media screen and (min-width: 992px) {
  .navbar .wrapper .right .mbl {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .navbar .wrapper .center .nav_list {
    display: none;
  }
  .navbar .wrapper .right .btn {
    display: none;
  }

  .content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      var(--primary-color) 60%,
      var(--white-color) 40%
    );
  }

  .content .wrapper .context {
    width: 80%;
    height: auto;
    margin: 5em 0;
  }

  .content .wrapper .form_box {
    position: relative;
    width: 80%;
    left: 0;
    top: 0;
  }

  .content .wrapper .context .title {
    font-size: 54px !important;
  }

  .content .wrapper .context .text .para {
    padding: 1em;
    font-size: var(--font-small);
  }

  .select-menu .options .option,
  .content .wrapper .form_box .form-group:nth-child(5) {
    text-align: left;
  }

  .content .wrapper .brand .icon svg {
    width: 150px;
    color: var(--primary-color);
  }

  .content .wrapper .brand {
    flex-direction: column;
    margin: 1em 0;
    color: black;
  }

  .content .wrapper .brand ul {
    justify-content: center;
    row-gap: 1em;
    margin: 1em 0;
  }

  .work .wrapper .wrap_box .box {
    width: 100%;
  }

  .type .wrapper .wrap_box .box {
    width: 47%;
  }

  .success_calculation .success_one {
    flex-direction: column;
    text-align: center;
  }

  .success_calculation .success_one .content {
    width: 100%;
  }

  .success_calculation .success_one .reference {
    width: 100%;
  }

  .footer_section .wrapper .col {
    max-width: 30%;
    margin: 1em 0.5em;
  }

  .hero_one {
    display: flex;
    flex-direction: column;
  }

  .hero_one .reference {
    padding: 0 2em;
    width: 90%;
  }

  .hero_one .content .btn {
    margin: 0.2em 2em;
  }

  .hero_one .content {
    width: 100%;
    display: flex;
    padding: 0 1em;
  }

  .hero_one .content .title {
    text-align: center;
    padding: 0.5em 0;
  }
  .hero_one .content .para {
    padding: 0 2em;
    width: 100%;
    margin-bottom: 1.5em;
  }

  .more_about {
    padding: 5em 15%;
  }

  .more_about .title {
    font-size: 1.5em;
  }

  .justice .wrapper .title {
    margin: 0 10%;
  }

  .more_about.faq {
    padding: 0 5% !important;
    margin-bottom: 5em;
  }

  .choose .wrapper .choice {
    padding: 2em 0;
  }

  .featured .wrapper .context {
    flex-direction: column;
  }

  .featured .wrapper .context {
    flex-direction: column;
  }

  .featured .wrapper .context .left {
    width: 100%;
  }

  .featured .wrapper .context .right {
    width: 100%;
    padding: 2em 0;
  }

  .featured .wrapper .right .packet {
    width: 100%;
  }

  .topic .context .blog_box .packets {
    width: 45%;
  }
}

@media screen and (max-width: 652px) {
  .success_calculation .success_one .reference {
    font-size: 54px;
  }
  .type .wrapper .wrap_box .box {
    width: 100%;
  }
  .topic .context .blog_box .packets {
    width: 100%;
  }
}

@media screen and (max-width: 352px) {
  .type .wrapper .wrap_box .box {
    width: 100%;
  }

  .footer_section .wrapper .col {
    width: 70%;
  }

  .success_calculation .success_one .reference {
    font-size: 36px;
  }
}
